*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-size: calc(80% + 0.2vmin);
    overflow-x:hidden;
}

.form{
    margin-top: 25pt;
    margin-bottom: 25pt;
    display: grid;
    grid-template-columns:25vw 50vw 25vw;
    grid-template-rows: repeat(6,auto);
    font-family: 'IBM Plex Sans Thai';
    align-content: center;
}
#bmrform{
    grid-column: 2/3;
    grid-row: 1/2;
}

.form .ans:first-of-type{
    grid-column: 2/3;
    grid-row: 2/3;
}

#tdeeform{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
}

.form .ans:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 4/5;
}

#calform{
    grid-column: 2/3;
    grid-row: 5/6;

}

.form .ans:last-of-type{
    grid-column: 2/3;
    grid-row: 6/7;
}

form{
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    width: 100%; /*ขนาดตาม.form(grid)*/
}

input{
    font-family: 'IBM Plex Sans Thai';
}
option{
    font-family: 'IBM Plex Sans Thai';
}
select{
    font-family: 'IBM Plex Sans Thai';
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
}
#sex{
    outline: none;
}

.ans{
    margin: 25pt 0pt 25pt 0pt;
    display: grid;
    width:100%; 
    height: 27vh;
    border-radius: 10pt;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
    background-color: rgb(241,243,246);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
.ans div{
    grid-column: 1/2;
    grid-row: 1/3;
    width: auto;
    height: 100%;
    align-self: center;
    justify-self: end;
}
.ans p:first-of-type{
    grid-column: 2/3;
    grid-row: 1/2; 
    align-self: end;
}

.ans p:last-of-type{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 20pt;
    width: 90%;
    opacity: 0.5;
    height:fit-content ;
    overflow-y: hidden;
    overflow-x: auto;
}

#submit{
    height: 25pt;
    border: 0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#bmrform>label select{
    display: flex;
    
}
form >label{
    margin-bottom: 15px;
    width: 100%;
}

.textform{
    height: 30pt;
    font-size: 15px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.tdeecheck{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.tdeechoice{
    display:  none;
}

.nav {
    background: #000;
    height: 30pt;
    max-width: 100%;
}

@media screen and (max-width : 1200px) {
    .form{
        grid-template-columns:15vw 70vw 15vw;
    }
}